# folds {{{
snippet {{
	# ${1:foldname} {{{
snippet c}
	# }}}
snippet {}
	# ${1:foldname} {{{
	${2}
	# }}}

# }}}

# vim misc {{{
snippet vmod
	# vim:fdm=marker:fmr={{{,}}}:
# }}}

# vim:fdm=marker:fmr={{{,}}}:
